@font-face {
    font-family: "MadHacker";
    src: url(../fonts/MadHacker-YYqv.ttf) format('truetype');
}

@font-face {
    font-family: "Aquire";
    src: url(../fonts/Aquire-BW0ox.otf) format('opentype');
}

@font-face {
    font-family: "Unutterable";
    src: url(../fonts/Unutterable-z8E8X.ttf) format('truetype');
}