@font-face {
    font-family: "MadHacker";
    src: url(./fonts/MadHacker-YYqv.ttf) format('truetype');
}
  
@font-face {
    font-family: "Aquire";
    src: url(./fonts/Aquire-BW0ox.otf) format('opentype');
}